name: Deploy ePizza API

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '9.0.x'

      - name: Restore dependencies
        run: dotnet restore ./ePizza.API/ePizza.API.csproj

      - name: Build
        run: dotnet build ./ePizza.API/ePizza.API.csproj --configuration Release --no-restore

      - name: Publish
        run: dotnet publish ./ePizza.API/ePizza.API.csproj --configuration Release --output ./publish
